div {
    width: 600px;
    height: 600px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

body {
    background-color: rgb(255, 255, 255);
}