body {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: white;
  font-family: Arial, sans-serif;
}

#gameCanvas {
  text-align: center;
  border: 2px solid #fff;
  background-color: #000;
  height: 100%;
  width: 100%;
}

#gameInfo {
  margin-top: 15px;
  text-align: center;
}
